<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/presensi" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>Riwayat Presensi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="riwayat-content">

  <!-- Header Bulan -->
  <div class="month-header">
    <ion-icon name="chevron-back-outline" class="nav-icon"></ion-icon>
    <h2>{{ monthLabel }}</h2>
    <ion-icon name="chevron-forward-outline" class="nav-icon"></ion-icon>
  </div>

  <!-- Keterangan -->
  <div class="legend">
    <div class="item"><span class="dot terlambat"></span> Terlambat</div>
    <div class="item"><span class="dot cuti"></span> Izin/Cuti</div>
    <div class="item"><span class="dot alfa"></span> Alfa</div>
    <div class="item"><span class="dot libur"></span> Libur</div>
  </div>

  <!-- CARD -->
  <ion-card class="riwayat-card">

    <!-- HEADER TABLE -->
    <div class="table-header">
      <div class="col tanggal">Tanggal</div>
      <div class="col">Check-In</div>
      <div class="col">Check-Out</div>
    </div>

    <!-- BODY -->
    <div class="table-body">

      <ng-container *ngIf="calendar && calendar.length; else fallbackStatic">
        <div *ngFor="let day of calendar"
            class="table-row"
            [ngClass]="statusClass(day.status)">

          <div class="col tanggal">{{ day.day }}</div>

          <!-- merged untuk libur/cuti -->
          <ng-container *ngIf="statusClass(day.status) === 'cuti' || statusClass(day.status) === 'libur'; else normalCols">
            <div class="col merge-left">{{ day.status }}</div>
            <div class="col merge-right">{{ day.description || '-' }}</div>
          </ng-container>

          <ng-template #normalCols>
            <div class="col">{{ fmtTime(day.check_in) }}</div>
            <div class="col">{{ fmtTime(day.check_out) }}</div>
          </ng-template>

        </div>
      </ng-container>

      <ng-template #fallbackStatic>
        <div class="table-row">
          <div class="col tanggal">1</div>
          <div class="col">09:00</div>
          <div class="col">16:00</div>
        </div>
      </ng-template>

    </div>

  </ion-card>

</ion-content>
