<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">

    <!-- Icon Biru -->
    <div class="icon-box">
      <img src="assets/icon/mail_blue.png" alt="email-icon">
    </div>

    <!-- Card Utama -->
    <div class="reset-card">
      <p class="desc">
        Silakan masukan alamat email anda, kami akan mengirimkan link verifikasi agar anda bisa mengubah password anda.
      </p>

      <div class="input-group">
        <ion-icon name="mail-outline" class="input-icon"></ion-icon>
        <input
          type="email"
          placeholder="Masukkan email anda di sini"
          [(ngModel)]="email"
        />
      </div>

      <button class="btn-verify" (click)="sendVerification()">
        Verifikasi email
      </button>
    </div>

  </div>
</ion-content>
