<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title color="light">Akun Saya</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="profile-container" *ngIf="user; else loading">
    <img
      [src]="getUserPhotoUrl()"
      alt="Foto Profil"
      class="profile-photo"
      (error)="onImageError($event)"
    />
    <h2>{{ user.name }}</h2>
    <p>{{ user.email }}</p>
    <p *ngIf="user.jabatan">Jabatan: {{ user.jabatan }}</p>
  </div>

  <ng-template #loading>
    <div class="loading-container">
      <ion-spinner name="crescent"></ion-spinner>
      <p>Memuat data akun...</p>
    </div>
  </ng-template>
</ion-content>
