<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/profil"></ion-back-button>
    </ion-buttons>
    <ion-title>Data Pribadi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="data-content">

  <div class="data-card">
    <div class="data-row">
      <span class="label">Nama:</span>
      <span class="value">Mumtaz</span>
    </div>

    <div class="data-row">
      <span class="label">Email:</span>
      <span class="value muted">mail@email.com</span>
    </div>

    <div class="data-row">
      <span class="label">Jabatan:</span>
      <span class="value muted">Karyawan</span>
    </div>

    <div class="data-row">
      <span class="label">Status:</span>
      <span class="value status">Aktif</span>
    </div>
  </div>

</ion-content>
